In [51]:
!pip install pandas
!pip install numpy
!pip install seaborn

In [1]:
import sys
print(sys.executable)

c:\Program Files\Python312\python.exe

In [53]:
%pip install scipy
%pip install scikit-learn

Requirement already satisfied: scipy in c:\users\u10135673\onedrive - basf\documents\vscode\intro-extrovert\.venv\lib\site-packages (1.16.0)
Requirement already satisfied: numpy<2.6,>=1.25.2 in c:\users\u10135673\onedrive - basf\documents\vscode\intro-extrovert\.venv\lib\site-packages (from scipy) (2.2.6)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in c:\users\u10135673\onedrive - basf\documents\vscode\intro-extrovert\.venv\lib\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in c:\users\u10135673\onedrive - basf\documents\vscode\intro-extrovert\.venv\lib\site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.8.0 in c:\users\u10135673\onedrive - basf\documents\vscode\intro-extrovert\.venv\lib\site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\u10135673\onedrive - basf\documents\vscode\intro-extrovert\.venv\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\u10135673\onedrive - basf\documents\vscode\intro-extrovert\.venv\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
print("Hello World")

Hello World

In [84]:
import os
filename = os.path.join(os.getcwd(), "personality_dataset.csv")

## Personality Dataset
Can we predict if a person will be an introvert or extrovert, given their attributes as a person? Could this help in professors creating group work in school or companies understanding their employees? Let's look at the data and explore it!

In [85]:
df = pd.read_csv(filename)

In [86]:
df.head(10)

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
5,1.0,No,7.0,5.0,No,6.0,6.0,Extrovert
6,4.0,No,9.0,NaN,No,7.0,7.0,Extrovert
7,2.0,No,8.0,4.0,No,7.0,8.0,Extrovert
8,10.0,Yes,1.0,3.0,Yes,0.0,3.0,Introvert
9,0.0,No,8.0,6.0,No,13.0,8.0,Extrovert

In [87]:
df.shape

(2900, 8)

In [88]:
df_numerical = df.select_dtypes(include='number')
df_numerical

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
0,4.0,4.0,6.0,13.0,5.0
1,9.0,0.0,0.0,0.0,3.0
2,9.0,1.0,2.0,5.0,2.0
3,0.0,6.0,7.0,14.0,8.0
4,3.0,9.0,4.0,8.0,5.0
...,...,...,...,...,...
2895,3.0,7.0,6.0,6.0,6.0
2896,3.0,8.0,3.0,14.0,9.0
2897,4.0,1.0,1.0,4.0,0.0
2898,11.0,1.0,NaN,2.0,0.0
2899,3.0,6.0,6.0,6.0,9.0

In [89]:
df['Personality'].value_counts()

Personality
Extrovert    1491
Introvert    1409
Name: count, dtype: int64

Our target label has a good balance for its class labels, meaning we won't have to worry too much about bias on one class label over the other as we continue analysis.

In [90]:
df.isna().sum()

Time_spent_Alone             63
Stage_fear                   73
Social_event_attendance      62
Going_outside                66
Drained_after_socializing    52
Friends_circle_size          77
Post_frequency               65
Personality                   0
dtype: int64

We can see that there are a good amount of null values in our datasets features.

In [91]:
df.shape

(2900, 8)

As we can see, there are 2900 examples we are using in this dataset. I have learnt that if our na values are 5% or less, are random, and other heuristic analyses by context, we can drop the na values as they won't share much insight to our model going forward. So I will be dropping these values.

This is another option to impute the null values to the mean or median. From what I have learnt, if na values are between 5-20%, you will need to check with context on imputing or dropping na values. If the sum of na values is greater than 20%, then it is best to impute them given the mean or median, depending on its relationship with the target, is it a normal curve or not.

`df['Stage_fear'] = pd.to_numeric(df['Stage_fear'], errors='coerce')`

`stageFillMean = df['Stage_fear'].fillna(df['Stage_fear'].mean())`

`stageFillMedian = df['Stage_fear'].fillna(df['Stage_fear'].median())`

In [63]:
nullCondition = df.isna().sum() != 0
col_names = df.isna().sum()[nullCondition].index
nullList = list(col_names)
nullList

['Time_spent_Alone',
 'Stage_fear',
 'Social_event_attendance',
 'Going_outside',
 'Drained_after_socializing',
 'Friends_circle_size',
 'Post_frequency']

While looking redundant because all features have null values in this dataset, understanding which features have null values and putting them in a list can help with data-driven decisions. Many models cannot take null values, especially linear models, so can help us clean and avoid runtime errors. It will also allow for others, if you are working in a team, to interpret data and find it later.

In [74]:
df.dropna(inplace=True)

df.isna().sum()

Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [75]:
df = pd.get_dummies(df, columns=['Stage_fear'], drop_first=False)

In [76]:
df

,Time_spent_Alone,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality,Stage_fear_No,Stage_fear_Yes
0,4.0,4.0,6.0,No,13.0,5.0,Extrovert,True,False
1,9.0,0.0,0.0,Yes,0.0,3.0,Introvert,False,True
2,9.0,1.0,2.0,Yes,5.0,2.0,Introvert,False,True
3,0.0,6.0,7.0,No,14.0,8.0,Extrovert,True,False
4,3.0,9.0,4.0,No,8.0,5.0,Extrovert,True,False
...,...,...,...,...,...,...,...,...,...
2892,9.0,2.0,0.0,Yes,1.0,2.0,Introvert,False,True
2895,3.0,7.0,6.0,No,6.0,6.0,Extrovert,True,False
2896,3.0,8.0,3.0,No,14.0,9.0,Extrovert,True,False
2897,4.0,1.0,1.0,Yes,4.0,0.0,Introvert,False,True
2899,3.0,6.0,6.0,No,6.0,9.0,Extrovert,True,False

In [77]:
df['Stage_fear_No'] = df['Stage_fear_No'].astype(int)
df['Stage_fear_Yes'] = df['Stage_fear_Yes'].astype(int)
df

,Time_spent_Alone,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality,Stage_fear_No,Stage_fear_Yes
0,4.0,4.0,6.0,No,13.0,5.0,Extrovert,1,0
1,9.0,0.0,0.0,Yes,0.0,3.0,Introvert,0,1
2,9.0,1.0,2.0,Yes,5.0,2.0,Introvert,0,1
3,0.0,6.0,7.0,No,14.0,8.0,Extrovert,1,0
4,3.0,9.0,4.0,No,8.0,5.0,Extrovert,1,0
...,...,...,...,...,...,...,...,...,...
2892,9.0,2.0,0.0,Yes,1.0,2.0,Introvert,0,1
2895,3.0,7.0,6.0,No,6.0,6.0,Extrovert,1,0
2896,3.0,8.0,3.0,No,14.0,9.0,Extrovert,1,0
2897,4.0,1.0,1.0,Yes,4.0,0.0,Introvert,0,1
2899,3.0,6.0,6.0,No,6.0,9.0,Extrovert,1,0

In [78]:
df = pd.get_dummies(df, columns=['Drained_after_socializing'], drop_first=False)
df

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency,Personality,Stage_fear_No,Stage_fear_Yes,Drained_after_socializing_No,Drained_after_socializing_Yes
0,4.0,4.0,6.0,13.0,5.0,Extrovert,1,0,True,False
1,9.0,0.0,0.0,0.0,3.0,Introvert,0,1,False,True
2,9.0,1.0,2.0,5.0,2.0,Introvert,0,1,False,True
3,0.0,6.0,7.0,14.0,8.0,Extrovert,1,0,True,False
4,3.0,9.0,4.0,8.0,5.0,Extrovert,1,0,True,False
...,...,...,...,...,...,...,...,...,...,...
2892,9.0,2.0,0.0,1.0,2.0,Introvert,0,1,False,True
2895,3.0,7.0,6.0,6.0,6.0,Extrovert,1,0,True,False
2896,3.0,8.0,3.0,14.0,9.0,Extrovert,1,0,True,False
2897,4.0,1.0,1.0,4.0,0.0,Introvert,0,1,False,True
2899,3.0,6.0,6.0,6.0,9.0,Extrovert,1,0,True,False

In [81]:
df[['Drained_after_socializing_No', 'Drained_after_socializing_Yes']] = df[['Drained_after_socializing_No', 'Drained_after_socializing_Yes']].astype(int)
df

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency,Personality,Stage_fear_No,Stage_fear_Yes,Drained_after_socializing_No,Drained_after_socializing_Yes
0,4.0,4.0,6.0,13.0,5.0,Extrovert,1,0,1,0
1,9.0,0.0,0.0,0.0,3.0,Introvert,0,1,0,1
2,9.0,1.0,2.0,5.0,2.0,Introvert,0,1,0,1
3,0.0,6.0,7.0,14.0,8.0,Extrovert,1,0,1,0
4,3.0,9.0,4.0,8.0,5.0,Extrovert,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
2892,9.0,2.0,0.0,1.0,2.0,Introvert,0,1,0,1
2895,3.0,7.0,6.0,6.0,6.0,Extrovert,1,0,1,0
2896,3.0,8.0,3.0,14.0,9.0,Extrovert,1,0,1,0
2897,4.0,1.0,1.0,4.0,0.0,Introvert,0,1,0,1
2899,3.0,6.0,6.0,6.0,9.0,Extrovert,1,0,1,0

If you used one-hot encoding to change categorical information into numerical, but merge it back to your DataFrame multiple times, it could allow for duplicates of columns to show up.
<br>`df = df.loc[:, ~df.columns.duplicated()]`

We use loc to get into the rows and columns of the DataFrame, then say all rows, but only columns that are duplicated, which will show duplicated columns as True, and the ~ is just the complement, meaning all the columns that are not duplicated will now be True, and that is what we assign back to our DataFrame

## Training Model on Dataset

Now that we have removed the null values, changed the features that were categorical to numerical, using one-hot encoding, we can use this dataset to train our model. Since we are trying to find if a person is extroverted or introverted, this will be a Supervised learning dataset. I will use Decision Trees with entropy to find predictions, and will also use K-NN to see if a simpler model works best. Later on, I will be finding the correlation that the features have with the label, to check how strong the linear relationships are.

In [ ]:
y = df['Personality']
X = df.drop('Personality', axis=1)

print(y.shape)
print(X.shape)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
#Using test size of 30% and a random seed of 1234
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.3, random_state=1234)

print(X_train.shape)
print(y_train.shape)

In [ ]:
def DecisionTreeClass(X_train, X_test, y_train, y_test, depth, leaf=1, crit='entropy'):
    
    #Creating Decision Tree model with entropy as default
    model = DecisionTreeClassifier(criterion=crit, max_depth=depth, min_samples_leaf=leaf)
    #Fit the model on the training data
    model.fit(X_train, y_train)
    #Model predicts 
    labeled_predictions = model.predict(X_test)

    acc_score = accuracy_score(y_test, labeled_predictions)

    return acc_score

In [ ]:
max_depth_list =